{% extends 'layouts/main.html' %}

{% block page_title %}
django-flatpickr demo - custom form
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}


{% block content %}
<div class="column">
  <h1 class="title">{{ title_text }}</h1>
</div>
{% load crispy_forms_tags %}
<div class="column is-half">
  <h2 class="is-size-4">Using {{ '{% crispy form %}' }}</h2>
  <form action="" method="post">
    {# {% csrf_token %} #}
    {# csrf disabled for demo & version control purpose #}
    {% crispy form %}
  </form>
  <h2 class="is-size-4 mt-5">Using {% verbatim doc %}{{ form | crispy }}{% endverbatim doc %}</h2>
  <form action="" method="post">
    {# {% csrf_token %} #}
    {# csrf disabled for demo & version control purpose #}
    {{ form | crispy }}
  </form>
</div>
{% endblock %}