{% extends 'layouts/main.html' %}

{% block page_title %}
django-flatpickr demo - custom form
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}


{% load crispy_forms_tags %}
{% block content %}
<div class="columns mt-4">
  <div class="column">
    <h1 class="title">{{ title_text }}</h1>
    {% if lead_text %}<p class="subtitle">{{ lead_text|safe }}</p>{% endif %}
    <h2 class="is-size-4">Using {{ '{% crispy form %}' }}</h2>
    <form action="" method="post">
      {# {% csrf_token %} #}
      {# csrf disabled for demo & version control purpose #}
      {% crispy form %}
    </form>
    <h2 class="is-size-4 mt-5">Using {% verbatim doc %}{{ form | crispy }}{% endverbatim doc %}</h2>
    <form action="" method="post">
      {# {% csrf_token %} #}
      {# csrf disabled for demo & version control purpose #}
      {{ form | crispy }}
    </form>
  </div>
  <div class="column is-half">
    {% include 'myapp/agent-prompt.html' %}
  </div>
</div>
{% endblock %}