{% extends 'layouts/main.html' %}

{% block page_title %}
django-flatpickr demo - custom form
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script>
  window.djangoFlatpickrOptions = {
    onChange: function (selectedDates) { console.log("Global onChange") }
  }
  window.djangoFlatpickrOptions_start_date = {
    onChange: function (selectedDates) { console.log("start_date onChange") }
  }
</script>
{% endblock %}


{% block content %}
<div class="column">
  <h1 class="title">{{ title_text }}</h1>
</div>
<div class="column is-half">
  <form action="" method="post">
    {# {% csrf_token %} #}
    {# csrf disabled for demo & version control purpose #}
    {{ form.as_p }}
  </form>
</div>
{% endblock %}